<% if(!userData) { %>
<script>
  alert("비회원은 접근할 수 없는 페이지입니다");
  location.href = "/login";
</script>
<% } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 목록페이지</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  </head>
  <body>
    <%- include("common/header.ejs") %>
    <div id="list_container">
      <div class="bg">
        <div class="context">
          <h2><div id="app1"></div></h2>
        </div>
      </div>
      <div class="brd_center">
        <% for(let i=0; i < brdData.length; i++){ %>
        <div class="card">
          <div class="photo">
            <a href="/brddetail/<%- brdData[i].brdid %>"
              ><img src="/upload/<%- brdData[i].fileName %>"
            /></a>
          </div>
          <div class="context">
            <a href="/brddetail/<%- brdData[i].brdid %>"
              ><%- brdData[i].brdtitle %></a
            >
            <div class="info">
              <p><%- brdData[i].brdprice %></p>
              <div class="req"><span>최소인원: 4명</span></div>
            </div>
            <p><%- brdData[i].brdauther %></p>
          </div>
        </div>

        <% } %>
      </div>
      <div class="btn">
        <a href="/brdinsert">게시글작성</a>
      </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="/js/typewriter.js"></script>
  </body>
</html>
